<h3>Лабораторная работа 8</h3>

<%= form_with scope: :calculates, url: calculates_path, data: {turbo: false} do |form| %>
  <%= form.label :numbers, 'Введите числа через пробел:' %><br><br>
  <%= form.text_field :numbers, id: 'calculate-text-field' %><br><br>
  <%= form.submit 'Вычислить' %><br><br>
<% end %>
