<h3>Лабораторная работа 9</h3>
<%= form_with url: '/calculates/create', method: :post, id: 'calc_form' do |form| %>
  <%= form.label :numbers, "Введите числа через пробел:" %><br><br>
  <%= form.text_field :numbers %><br><br>
  <%= form.submit "Вычислить", id: 'submit' %>
<% end %>

<br>

<div id='result-container'></div>
